.form-vertical{
  margin-top: 20px;
}
.btn{
  width: 300px;
  border-radius: 0 !important;
}
.control-label{
  font-size: 14px;
  margin-bottom: 16px;
}
.input-lg, .form-group-lg .form-control{
  border-radius: 0;
}
.button {
  display: inline-block;
  font-size: 16px;
  padding: 0 1.5em;
  text-transform: none;
  line-height: 30px;
  height: 30px;
  color: #FFF;
  background-image: none;
  border-radius: 2em;
  outline: 0;
  cursor: pointer;
}
.auth-msg{
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}