@import "./common/font";
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    content: "";
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background: #edeff0;
    color: #777;
}
header{
    background-color: #2f2f2f;
    height: 60px;
    position: relative;
}
.main{
  min-height: 600px;
}
.wrapper{
    padding: 20px;
}
.logo{
    margin: 0;
    margin-left: 20px;
    padding: 0 20px;
    line-height: 60px;
    color: #fff;
    background: url(./logo.png) 0 0 no-repeat #5bb793;
    box-shadow: inset 0 0 10px #489174;
    display: inline-block;
    text-indent: -200px;
    width: 220px;
}
.logo a{
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}
.logo:hover{
    box-shadow: inset 0 0 10px #333;
}
.logo a:hover{
    text-decoration: none;
}
.logo span{
    font-size: 36px;
}
.right-nav{
    position: absolute;
    right: 20px;
    top: 16px;
    width: 320px;
}
.right-nav a{
    margin-right: 15px;
    display: inline-block;
    color: #fff;
}
.msg{
    padding: 15px;
    margin: 20px 0;
}
footer{
  margin: 10px;
  text-align: center;
  color: #333;
}
@import "./common/form";